[submodule "prrte"]
	path = 3rd-party/prrte
	url = https://github.com/bentleyxia/prrte
	branch = blaze
[submodule "openpmix"]
	path = 3rd-party/openpmix
	url = https://github.com/bentleyxia/openpmix.git
	branch = blaze
